* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	vertical-align: middle;
}
button {
	background-color: transparent;
	border: none;
}
input {
	outline: none;
	border: none;
}
input:focus {
	outline: none;
}
#header {
	width: 100%;
	height: 150px;
}
#header img {
	float: left;
	width: 512px;
	height: 100px;

	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
}
#header .menu {
	position: relative;
	width: 100%;
	height: 100%;
}
#header .menu ul {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
#header .menu ul li {
	padding: 60px 20px;
	margin-right: 50px;
}
#header .menu ul li a {
	text-decoration: none;
	color: #000;
}
#main {
	width: 100%;
	height: 440px;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}
#main .left {
	position: relative;
	width: 50%;
	height: 440px;
}
#main .left img {
	position: absolute;
	margin-left: 50px;
	width: 90%;
	height: 100%;
}
#main .left span {
	position: absolute;
	margin-left: 100px;
}
#main .right {
	position: relative;
	width: 50%;
	height: 400px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
#main .right .right_top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 200px;
}
#main .right .right_top img {
	position: absolute;
	width: 90%;
	height: 100%;
	margin-right: 50px;
}
#main .right .right_top span {
	position: absolute;
	margin-left: 100px;
}
#main .right .right_bottom {
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 200px;
	padding-top: 40px;
}
#main .right .right_bottom img {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-right: 50px;
}
#main .right .right_bottom span {
	position: absolute;
	margin-left: 100px;
}

#footer {

	background-color: #000000;
	width: 100%;
	height: 100px;
	margin-top: 30px;
}
#footer .left {
	display: inline-block;
	width: 400px;
	height: 100px;
	vertical-align: top;
}
#footer .left img {
	width: 100%;
	height: 100%;
}
#footer .right {
	display: inline-block;
	width: 1110px;
	height: 100px;

}
#footer .right ul {
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 35px;
}
#footer .right li {
	display: inline-block;
	color: #ffffff;
}
#footer .right li:after {
	content: '';
	display: inline-block;
	width: 1px;
	height: 15px;
	background-color: grey;
	margin: 0 8px;
	vertical-align: -1;
}
#footer .right li:nth-child(4):after, #footer .right li:nth-child(6):after {
	content: none;
}
#footer .right ul li a {
	text-decoration: none;
}




